.task-container{
    background-color: rgb(255, 81, 110);
    margin: 10px 0;
    border: solid 2px crimson;
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
}
.task-title{
    cursor: pointer;
}
.remove-task-button{
    background-color: rgb(255, 81, 110);
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}